#header-admin{
    background-color:#BF2C45;
    height:70px;
    width: 100%;
    padding:25px;
    padding-left:15px;
    color:white;
    font-weight: bold;
    position:sticky;
    top: 0;
    z-index: 999;
}


#logo_sisi_merah{
    margin-top: -18px;
    float:left;
    margin-left:10px;
}

#search-box{
    border-bottom: 1px solid silver;
    padding-left:30px;
    padding-bottom:5px;
    font-weight: lighter;
}

#akun{
    float:right;
    margin-right:-250px;
}

#sidebar{
    position:fixed;
    height:100%;
    float:left;
    width: 210px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top:50px;
    padding-left:50px;
    font-weight: bold;
    font-size: 16px;
    padding-bottom:30%;
}

body{
    background-color: #F5F5F5;
}

tr, th
{
    text-align: center;
}


#app-review-card{
    background-color:white;
    border-radius:6px;
    padding:10px;
    color:blue;
    padding-left:10px;
    width:300px;
    margin-left:35px;
    height:60px;
}

.ticket-status-card{
    color:white;
    background-color:white;
    border-radius:8px 8px 8px 8px;
    border:1px solid silver;
    padding-top:15px;
    padding-left:15px;
    height:125px;
    width:300px;
    margin-left:35px;
}

.db-card{
    background-color:white;
    border-radius:8px 8px 8px 8px;
    border:1px solid silver;
    padding-top:15px;
    padding-left:25px;
    height:90px;
    width:300px;
    margin-left:35px;
}

.db-card-detail{
    background-color: white;
    padding:8px;
    padding-left:15px;
    padding-top:20px;
    padding-right:15px;
    margin-top: 25px;
    height:300px;
    border-radius:8px;
    width:620px;
}


#recap-chart{
    background-color: white;
    margin-left:228px;
    margin-right:30px;
    border-radius:5px;
    border-top:10px solid green;
    padding-left:20px;
    padding-top:15px;
    padding-bottom:25px;
}

